
.about{
    background-color: #1ABC9C;
}
.hero{
    width: 300px;
    height: 300px;
    

}
.hero-title h1{
    font-size: 3.5rem ; 
}



.hero-title .icon::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 53%;
    width: 100px;
    height: 4px;
    background-color: #fff;
}
.hero-title .icon::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 39%;
    width: 100px;
    height: 4px;
    background-color: #fff;
}